DATABASE_URL=postgresql://...-pooler.../neondb?sslmode=require&channel_binding=require
DIRECT_DATABASE_URL=postgresql://.../neondb?sslmode=require&channel_binding=require

SECRET_KEY=python3 -c "import secrets; print(secrets.token_hex(32))"
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
AI_PROVIDER=
GROQ_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=

REDIS_URL=rediss://your-upstash-redis-url-here
REDIS_TOKEN=

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_WHATSAPP_NUMBER=


KNOWLEDGE_BASE_MAX_UPLOAD_MB=25


BASE_URL=ngrok url

TWILIO_QUICK_REPLY_SID=  your SID after you run create_templates.py
TWILIO_LIST_PICKER_SID=  your SID after you run create_templates.py
TWILIO_BROWSE_MORE_SID=  your SID after you run create_templates.py
