DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/aisha_db    #use your postgres password 

SECRET_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=